body {
    /* background: #fafafa; */
    background: rgb(228, 242, 248);
    color: #333333;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link:active {
    font-weight: 500;
    color: #ffffff;
}

.navbar .active {
    font-weight: 500;
    color: red;
}

.content-section {
    /* background: #ffffff; */
    background: rgb(211, 232, 236);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.profit {
    color: green;
}

.loss {
    color: red;
}

.price {
    color: blue;
}

.info {
    /* color: rgba(248, 150, 3, 0.941); */
    float: right;
    animation: popup 1.5s linear infinite;
}

@keyframes popup {
    0% {
        transform: scale(1.1);
        color: rgb(251, 7, 255);
    }
    50% {
        transform: scale(0.8);
        color: rgb(248, 236, 3);
    }
    100% {
        transform: scale(1.1);
        color: red;
    }
}

.heading {
    display: flex;
    justify-content: space-between;
}

.left-pad {
    padding-left: 5px;
}

.side {
    display: flex;
}

tr {
    border-bottom: 0.5px solid rgb(141, 193, 212);
}

th {
    padding: 15px;
}

td {
    padding: 15px;
}

span {
    font-size: 20px;
}

.fixed {
    position: relative;
}