{% extends 'layout.html' %} 
{% block content %}

<article class="regular">
  <span><b>Search Stocks :&nbsp;&nbsp;</b></span>
  <input type="text" id="tbuser" placeholder="Search..(eg. adx)" onkeyup=searchFun()>
</article>
<script>

  const searchFun = () =>{
      let filter = document.getElementById('tbuser').value.toUpperCase();
      let myTable = document.getElementById('mytable');
      let tr = myTable.getElementsByTagName('tr');
      for(var i=1;i<tr.length;i++){
        let td = tr[i].getElementsByTagName('td')[1];
        if(td){
          let textvalue = td.textContent || td.innerHTML;

          if(textvalue.toUpperCase().indexOf(filter)>-1){
            tr[i].style.display = "";
          }else{
            tr[i].style.display = "none";
          }
        }

      }
      
  }


</script>
<table style="width: 100%;" id="mytable">
  <thead class="fixed" style="height: 50px ;">
    <th><b>Name</b></th>
    <th><b>Symbol</b></th>
    <th><b>Price</b></th>
    <th><b>Change</b></th>
    <th><b>Change(%)</b></th>
  </thead>
  <hr>
  {%for stock in stocks%}
  <tr>
  <td>{{ stock.name }}</td>
  <td><a href="{{url_for('stock',stock_id=stock.id)}}">{{ stock.symbol }}</a></td>
  <td>${{ stock.price }}</td>
  {%if stock.change[0] != '-'%}
  <td class="profit">{{ stock.change }}</td>
  {%else%}
  <td class="loss">{{ stock.change }}</td>
  {%endif%}
  {%if stock.percent_change[0] != '-'%}
  <td class="profit">&nbsp;{{ stock.percent_change }}%&nbsp;&nbsp;<span>&#8593;</span></td>
  {%else%}
  <td class="loss">{{ stock.percent_change }}%&nbsp;&nbsp;<span>&#8595;</span></td>
  {%endif%}
  {%if current_user.is_authenticated%}
  <td><a href="{{url_for('buy_stock',stock_id=stock.id)}}"><button class='btn btn-outline-info'>Buy</button></a></td>
  {%endif%}
  </tr>
  {%endfor%}
</table>
<!-- <div class='heading left-pad'>
  <h4>Symbol</h4>
  <h4>Price</h4>
  <h4>Change</h4>
  <h4>Change(%)</h4>
</div>
        {%for stock in stocks%}
        <article class="media content-section">
          <div>
            <p>{{stock.name}}</p>
          </div>
            <div class="media-body heading">
              
                    <h2 class="article-title start">{{ stock.symbol}}</h2>
                    <h2 class="article-title price start">${{ stock.price}}</h2>
                    <h2 class="article-title price start">${{ stock.change}}</h2>
                  
                    {%if stock.percent_change[0] != '-'%}
             <p class="article-content profit start">+{{ stock.percent_change }}%</p>
             {%else%}
             <p class="article-content loss start">{{ stock.percent_change }}%</p>
             {%endif%}
            </div>
          </article>
          {%if current_user.is_authenticated%}
             <a href="{{url_for('buy_stock',stock_id=stock.id)}}"><button class='btn btn-outline-info'>Buy</button></a>
             {%endif%}
             <hr>
        {%endfor%} -->
        {%if current_user.is_authenticated%}
        {%else%}
        <script>alert("Login to Buy the Stock")</script>
        {%endif%}
{% endblock content %}