{% extends 'layout.html' %} 
{% block content %}
        <h1>My Portfolio</h1>
        
        <!-- {%for stock in stocks%}
        <article class="media content-section">
            <div class="media-body">
                <div class="media-body">
                    <h2><a class="article-title" href="#">{{ stock.symbol}}</a></h2>
                  </div>
              <h2 class="article-title price">${{ stock.price}}</h2>
             {%if stock.change >=0%}
             <p class="article-content profit">{{ stock.change }}%</p>
             {%else%}
             <p class="article-content loss">{{ stock.change }}%</p>
             {%endif%}
             {%if current_user.is_authenticated%}
             <a href="#"><button class='btn btn-outline-info'>Sell</button></a>
             {%endif%}
            </div>
          </article>
        {%endfor%} -->
{% endblock content %}