{% extends 'layout.html' %} 
{% block content %}
        <marquee><h3 style="color: red;"> Hello, ''{{ current_user.username }}'' ! Welcome to Your Portfolio</h3></marquee>
        <div class="box">
          <div class="box1">
            <h3><b>Current Holdings ::</b></h3>
          </div>
          <div class="innerbox">
          <tr>
            <th><b class="hold">Current value:</b>&nbsp;&nbsp;<span>${{ current_value}} </span>&nbsp;&nbsp;</th>
            {%if return_value[0] != '-'%}
            <th><b class="hold">Returns:</b>&nbsp;&nbsp;<span class="profit">${{ return_value}}</span>&nbsp;&nbsp;</th>
            {%else%}
            <th><b class="hold">Returns:</b>&nbsp;&nbsp;<span class="loss">${{ return_value}}</span>&nbsp;&nbsp;</th>
            {%endif%}
            {%if return_percent[0] != '-'%}
            <th><b class="hold">Returns(%):</b>&nbsp;&nbsp;<span class="profit">{{ return_percent}}% </span>&nbsp;&nbsp;</th>
            {%else%}
            <th><b class="hold">Returns(%):</b>&nbsp;&nbsp;<span class="loss">{{ return_percent}}% </span>&nbsp;&nbsp;</th>
            {%endif%}
          </tr>
        </div>
        </div>
        <table style="width: 100%;">
          <thead style="height: 50px;">
            <th><b>Symbol</b></th>
            <th><b>Price</b></th>
            <th><b>Change(%)</b></th>
            <th><b>Quantity</b></th>
            <th><b>Total</b></th>
            <th><b>Profit/Loss($)</b></th>
            
          </thead>
          {%for stock in stocks%}
          <tr>
          <!-- <td>{{ stock.name }}</td> -->
          <td><a href="{{url_for('stock',stock_id=stock.id)}}">{{ stock.symbol }}</a></td>
          <td>${{ stock.price }}</td>
          {%if stock.percent_change[0] != '-'%}
          <td class="profit">&nbsp;{{ stock.percent_change }}%&nbsp;&nbsp;<span>&#8593;</span></td>
          {%else%}
          <td class="loss">{{ stock.percent_change }}%&nbsp;&nbsp;<span>&#8595;</span></td>
          {%endif%}
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stock.count }}</td>
          

          <td><b>${{  stock.total }}</b></td>
          {%if stock.percent_change[0] != '-'%}
          <td class="profit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stock.pro_loss }}&nbsp;&nbsp;<span>&#8593;</span></td>
          {%else%}
          <td class="loss">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stock.pro_loss }}&nbsp;&nbsp;<span>&#8595;</span></td>
          {%endif%}
          {%if current_user.is_authenticated%}
          <td><a href="{{url_for('buy_stock',stock_id=stock.id)}}"><button class='btn btn-outline-info'>Buy</button></a></td>
          <td><a href="{{url_for('sell_stock',stock_id=stock.id)}}"><button class='btn btn-outline-info'>Sell</button></a></td>
          {%endif%}
          </tr>
          {%endfor%}
        </table>
{% endblock content %}