{% extends 'layout.html' %} 
{% block content %}
<table style="width: 100%;">
   <tr>
    <td class="bold">{{ stock.name }}</td>
    <td class="bold">{{ stock.symbol }}</td>
    <td class="bold">Price:${{ stock.price }}</td>
    {%if stock.change[0] != '-'%}
    <td class="profit bold">Change:<small>&and;</small>&nbsp;&nbsp;&nbsp;{{ stock.change }}</td>
    {%else%}
    <td class="loss bold">Change:&nbsp;<small>&or;</small>&nbsp;{{ stock.change }}</td>
    {%endif%}
    {%if stock.percent_change[0] != '-'%}
    <td class="profit bold">&nbsp;Change(%):{{ stock.percent_change }}%&nbsp;&nbsp;<span>&#8593;</span></td>
    {%else%}
    <td class="loss bold">Change(%):{{ stock.percent_change }}%&nbsp;&nbsp;<span>&#8595;</span></td>
    {%endif%}
    {%if current_user.is_authenticated%}
    <td><a href="{{url_for('buy_stock',stock_id=stock.id)}}"><button class='btn btn-outline-info'>Buy</button></a></td>
    {%endif%}
    </tr>
</table>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container chart">
  <div id="tradingview_4ca8c" style="height: 380px; ;"></div>
  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/{{ stock.symbol }}/" rel="noopener" target="_blank"><span class="blue-text">{{ stock.symbol }}</span></a> Visit for more...</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "autosize": true,
  "symbol": "{{ stock.symbol }}",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "in",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_4ca8c"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
{% endblock content %}